In [40]:
import cbh
from datetime import datetime
reload(cbh)

In [41]:
st_date = datetime(2000,1,1)
en_date = datetime(2000,2,1)
cbh_dir = '/Users/pnorton/Projects/National_Hydrology_Model/datasets/daymet'

indices = {56192: 609, 56321: 738, 56195: 612, 56324: 741, 56287: 704, 56328: 745, 56317: 734, 56335: 752, 56323: 740, 56213: 630, 58262: 2679, 58266: 2683, 56303: 720, 56348: 765, 58269: 2686, 56353: 770, 56221: 638, 56240: 657, 56250: 667, 58299: 2716, 58300: 2717, 58301: 2718, 56254: 671, 56258: 675, 56259: 676, 56261: 678, 56262: 679, 56263: 680, 56264: 681, 56266: 683, 56290: 707, 56272: 689, 56274: 691, 56276: 693, 56277: 694, 56278: 695, 56279: 696, 56280: 697, 56283: 700, 56286: 703, 58207: 2624, 58208: 2625, 58209: 2626, 58210: 2627, 56291: 708, 56295: 712, 56296: 713, 56299: 716, 56300: 717, 56301: 718, 56302: 719, 56253: 670, 56306: 723, 56309: 726, 56189: 606}

cbh_test = cbh.Cbh(filename='{}/r10U_prcp.cbh.gz'.format(cbh_dir), st_date=st_date, en_date=en_date, indices=indices )

In [39]:
cbh_test.read_cbh2()
cbh_test.data.head()

,0,1,2,3,4,5,56189,56192,56195,56213,...,58207,58208,58209,58210,58262,58266,58269,58299,58300,58301
0,2000,01,01,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.00
1,2000,01,02,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.00
2,2000,01,03,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.005,0.000,0.000,0.00
3,2000,01,04,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.00
4,2000,01,05,0,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.056,0.095,0.006,0.019,0.043,0.04

In [42]:
cbh_test.read_cbh()
print(cbh_test.data.head())

  0     1     2     3     4     5      56189  56192  56195  56213  ...    \
0  2000    01    01     0     0     0    0.0    0.0    0.0    0.0  ...
1  2000    01    02     0     0     0    0.0    0.0    0.0    0.0  ...
2  2000    01    03     0     0     0    0.0    0.0    0.0    0.0  ...
3  2000    01    04     0     0     0    0.0    0.0    0.0    0.0  ...
4  2000    01    05     0     0     0    0.0    0.0    0.0    0.0  ...

   58207  58208  58209  58210  58262  58266  58269  58299  58300  58301
0    0.0    0.0    0.0    0.0  0.000  0.000  0.000  0.000  0.000   0.00
1    0.0    0.0    0.0    0.0  0.000  0.000  0.000  0.000  0.000   0.00
2    0.0    0.0    0.0    0.0  0.000  0.000  0.005  0.000  0.000   0.00
3    0.0    0.0    0.0    0.0  0.000  0.000  0.000  0.000  0.000   0.00
4    0.0    0.0    0.0    0.0  0.056  0.095  0.006  0.019  0.043   0.04

[5 rows x 61 columns]